# Ignore build output directory
/build


# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
hls_component/hls_component/logs/
hls_component/hls_component/hls/csim/build/
hls_component/.cache/
hls_component/hls_component/hls/csim/report/
hls_component/hls_component/hls/syn/report/
hls_component/hls_component/hls_component.hlscompile_summary
hls_component/hls_component/hls_component.hlsrun_csim_summary
hls_component/hls_component/hls/impl/misc/logo.png
hls_component/hls_component/reports/
hls_component/hls_component/hls/.autopilot/db/
hls_component/hls_component/hls/.debug/
hls_component/hls_component/hls/.autopilot/db/autopilot.flow.log
