# Ignore build output directory
/build


# Ignore object files and dependent files
*.o
*.d
*.log
*.rpt
*.bd
*.hwdef
*.xdc
*.bxml
*.bda
*.wpc
*.wdf
*.vhdl
*.xml
*.tcl
*.zip
*.png
*.jou
*.protoinst
*.sh
*.flow.log
*.vhd
*.dcp
*.hwh

#Ignore logs folder and log files
/logs

#Ignore lock files
.lock

.bin
.pdi
hls_component/hls_component/logs/
hls_component/hls_component/hls/csim/build/
hls_component/.cache/
hls_component/hls_component/hls/csim/report/
hls_component/hls_component/hls/syn/report/
hls_component/hls_component/hls_component.hlscompile_summary
hls_component/hls_component/hls_component.hlsrun_csim_summary
hls_component/hls_component/hls/impl/misc/logo.png
hls_component/hls_component/reports/
hls_component/hls_component/hls/.debug/
hls_component/hls_component/hash-map.txt
hls_component/hls_component/hls/impl/verilog/project.runs/impl_1/
hls_component/hls_component/hls/impl/verilog/project.runs/synth_1/
hls_component/hls_component/hls/impl/verilog/project.sim/sim_1/
hls_component/hls_component/hls/impl/verilog/report/
hls_component/hls_component/hls/sim/report/
hls_component/hls_component/hls/sim/
hls_component/hls_component/hls/impl/verilog/project.runs/
